.flex-container {
    display: flex;
    justify-content: space-between;

    .flex-item {
        flex: 1;
    }
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @for $i from 1 through 20 {
        .flex-item-#{calc($i*5)} {
            flex: #{calc(($i*5)/100)};
        }
    }
}