@for $i from 0 through 20 {
    .w#{$i*5}vw {
        width: #{calc($i*5)}#{'vw'}
    };
    .w#{$i*5}per {
        width: #{calc($i*5)}#{'%'}
    };

    .h#{$i*5}vh {
        height: #{calc($i*5)}#{'vh'}
    };
    .h#{$i*5}per {
        height: #{calc($i*5)}#{'%'}
    };

    .borderR#{$i*5}px {
        border-radius: #{calc($i*5)}#{'px'}
    };
    .borderR#{$i*5}per {
        border-radius: #{calc($i*5)}#{'%'}
    };

    .padding#{$i*5}px {
        padding: #{calc($i*5)}#{'px'}
    };
    .margin#{$i*5}px {
        padding: #{calc($i*5)}#{'px'}
    };

    .opacity#{$i*5} {
        opacity: #{calc($i*5/100)};
    }
}

@for $i from 1 through 50 {
    .borderR#{$i}px {
        border-radius: #{$i}#{'px'}
    };
    .borderRBottom#{$i}px {
        border-radius: #{'0px 0px'} #{$i}#{'px'} #{$i}#{'px'}
    };

    .w#{$i}px {
        width: #{$i}#{'px'}
    };
    .h#{$i}px {
        height: #{$i}#{'px'}
    };

    .fontSize#{$i}em {
        font-size: #{calc($i/10)}#{"em"};
    }
}

@for $i from 0 to 160 {
    .top#{$i*10}px {
        top: #{calc($i*10)}#{'px'};
    }
    .top-#{$i*10}px {
        top: #{'-'}#{calc($i*10)}#{'px'};
    }
    .bottom#{$i*10}px {
        bottom: #{calc($i*10)}#{'px'};
    }
    .bottom-#{$i*10}px {
        bottom: #{'-'}#{calc($i*10)}#{'px'};
    }
    .left#{$i*10}px {
        left: #{calc($i*10)}#{'px'};
    }
    .left-#{$i*10}px {
        left: #{'-'}#{calc($i*10)}#{'px'};
    }
    .right#{$i*10}px {
        right: #{calc($i*10)}#{'px'};
    }
    .right-#{$i*10}px {
        right: #{'-'}#{calc($i*10)}#{'px'};
    }

    .w#{$i*10}px {
        width: #{calc($i*10)}#{'px'}
    };
    .h#{$i*10}px {
        height: #{calc($i*10)}#{'px'}
    };
}

@for $i from 0 through 10 {
    .letterSpace#{$i}em{
        letter-spacing: #{calc($i/10)}#{"em"};
    }

    .borderR#{$i}per {
        border-radius: #{calc($i*10)}#{"%"};
    }
}