$colors: (
    midnight: #0d1b27,
    deepPurple: #361f4e,
    steel: #1e2a38,
    burgundy: #5c1815,
    darkCyan: #005354,
    darkOliveGreen: #1e2e16,
    darkSlateBlue: #2f2a44,
    darkSlateGray: #1c2b2b,
    white: #fff,
    gray: #777
);

@each $color, $value in $colors {
    .bg-#{"" + $color} {
        background-color: $value;
        color: #fff;
    };

    .color-#{"" + $color} {
        color: $value;
    };

    @for $i from 0 through 20 {
        .bg-#{"" + $color}-#{$i*5} {
            background-color: rgba($value, calc($i*5/100));
            color: #fff;
        };
        .border-#{"" + $color}-#{$i}px {
            border: #{$i}#{"px"} solid #{$value};
        }

        @for $j from 0 through 20 {
            .shadow#{$i*5}H-#{$j*5}B-#{"" + $color} {
                box-shadow: #{calc($i*5)}#{"px 0 px"} #{calc($j*5)}#{"px"} #{$value};
            };
            .shadow#{$i*5}V-#{$j*5}B-#{"" + $color} {
                box-shadow: #{"0 px"} #{calc($i*5)}#{"px"} #{calc($j*5)}#{"px"} #{$value};
            };
            .shadow#{$i*5}HV-#{$j*5}B-#{"" + $color} {
                box-shadow: #{calc($i*5)}#{"px"} #{calc($i*5)}#{"px"} #{calc($j*5)}#{"px"} #{$value};
            };
        }
    }
}