@font-face {
    font-family: 'roboBold';
    src: url(../../public/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboMedium';
    src: url(../../public/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'roboLight';
    src: url(../../public/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../../public/fonts/Roboto/Roboto-Regular.ttf);
}