.turned{
    transform: rotateY(180deg);
}

.cardContainer {
    perspective: 1000px;

    .turningCard {
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    
        .back {
            transform: rotateY(-180deg);
        }
    }
}